<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应mapper接口的全类型 -->
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <!-- sql语句填写区 例：<select id="mapper接口中的方法" resultType="数据类型全类名/别名">sql语句</select>-->

    <insert id="insertBatch" parameterType="com.sky.entity.DishFlavor">
        INSERT INTO dish_flavor (dish_id, name, value) VALUES
        <foreach collection="flavorList" item="flavor" separator=",">
            (#{flavor.dishId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <delete id="deleteBatchByDishId" parameterType="java.lang.Long">
        DELETE FROM dish_flavor WHERE dish_id IN
        <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>
</mapper>
